# name: CI-part-2
# on:
#   push:
#     branches:
#       - master
    
# jobs:
#   build:
#     runs-on: ubuntu-latest
    
#     steps:
#       - uses: actions/checkout@v2
#       - name: Set up JDK 11
#         uses: actions/setup-java@v2
#         with:
#          java-version: '11'
#          distribution: 'temurin'
#       - name: make gradlew exe
#         run: chmod +x gradlew
#       - uses: gradle/gradle-build-action@v2
#         with:
#           arguments: build --scan
#       - name: Upload a Build Artifact
#         uses: actions/upload-artifact@v2.3.1
#         with:
#            path: /home/runner/work/build/libs/CI-Test-0.0.1-SNAPSHOT.jar
           
       
