name: CI-part-1
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
         java-version: '11'
         distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build --scan
      - name: list current dir
        run: |
          cd src
          ls -ltr
          
          
        
