name: CI-part-1
on: [pull_request]
jobs:
  
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # v2 minimum required

  build:
    runs-on: ubuntu-latest
    needs: [formatting]
    
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
         java-version: '11'
         distribution: 'temurin'
      - name: make gradlew exe
        run: chmod +x gradlew
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build --scan
      
          
          
        
