name: CD-to-AWS-Ubuntu-server

on:
  push:
    branches: [ release ]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Make gradle executable
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Execute jar file
        run: sudo kill -9 `sudo lsof -t -i:80` & sudo java -jar /home/ubuntu/actions-runner/_work/CI-Test/CI-Test/build/libs/CI-Test-0.0.1-SNAPSHOT.jar &
